/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'syne';
  font-weight: 600;
  src: url(../fonts/Syne-Bold.woff);
}

@font-face {
  font-family: 'syne';
  font-weight:900;
  src: url(../fonts/Syne-Extra.woff);
}

@font-face {
  font-family: 'syne';
  font-weight: 400;
  src: url(../fonts/Syne-Regular.woff);
}

@font-face {
  font-family: 'syne';
  font-style: italic;
  src: url(../fonts/Syne-Italic.woff);
}

@font-face {
  font-family: 'syne-mono';
  src: url(../fonts/Syne-Mono.woff);
}

@font-face {
  font-family: 'ferroforje';
  src: url(../fonts/Forje-Regular-4.woff);
}



*{
  --bg-color: #fff1f1;
  --bm-color: #0a1429;
  --txt-global:1.2vw;
  --txt-muchbig: 4.1vw;
  --txt-moymoy:2vw;
}



/* ====================================================================================================================
 * RESETS
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ====================================================================================================================
 * GENERAL
 * ====================================================================================================================*/
var
html {
  font-family: 'syne', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "kern" 1;
  -ms-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
body {
  line-height: 1;
  background: var(--bg-color);
  color: var(--bm-color);
  font-size: var(--txt-global);
  transition: all 500ms;
}

strong {
  font-family: 'syne', sans-serif;
  text-transform: uppercase;
}

i, em {
  font-style: italic;
}

a {

  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.project a{
  font-style: italic;
}
b, strong{
  font-weight: 900;
}
a:active {}

a:hover {}

::selection {
  background: var(--bm-color);
}

::-moz-selection {
  background: var(--bm-color);
}
::-webkit-scrollbar {
    display:none;
    font-family: fantasy;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.filter {
  cursor: pointer;
  color: var(--bm-color);
}

h1{
  font-size: 60px;
  margin-bottom: 0.5em;
}
p{
  margin-bottom: 1em;
}

.mono{
  font-family: 'syne-mono';
}
.phoneGalleryFooter{
  display: none;
}

.phone{
    display: none;
}
.main{
    display: block;
}
/* ====================================================================================================================
 * ELEMENTS
 * ====================================================================================================================*/
#verslesenfers{
  animation: enfer 4s infinite;
  position: absolute;
  width: 6vw;
  left: 46vw;
  bottom: 1.2em;
  z-index: 666;
  text-align: center;
  font-family: "Syne-Mono";
  transform: rotate(180deg);
}
a .bjm {
  letter-spacing: 0.5em;
  font-family: "oswald";
}

a:hover .bjm {
  font-family: "oswaldlight";
  letter-spacing: 0.539em;
  border: none;
}

.container {
  width: 95vw;
  height: 83vh;
  margin: 2vw;
  display: inline-block;
}

.big_txt {
  width: auto;
  height: 1em;
  padding-top: 0.1em;
  font-size: var(--txt-muchbig);
  text-align: center;
  float: left;
  cursor: move;
  text-transform: auto;
  font-family: 'syne';
  font-weight: 900;
}

.outline {
  font-family: 'syne';
  color: var(--bg-color);
  text-shadow: -1px -1px 0 var(--bm-color), 1px -1px 0 var(--bm-color), -1px 1px 0 var(--bm-color), 1px 1px 0 var(--bm-color);
}

/* ====================================================================================================================
 * grid
 * ====================================================================================================================*/

.grid{
  display: grid;
  grid-template-columns: 40% calc(60% - 1em);
  grid-template-rows: 3vw 1fr;
  grid-gap: 1em;

  overflow:hidden;

  height: 100vh;

  position: -webkit-sticky;
  position: sticky;
  top: 0; /* required */

  color: var(--bg-color);
  background: var(--bg-color);
  transition: all 500ms;
}


/* ====================================================================================================================
 * menu
 * ====================================================================================================================*/

 .menu{
   font-family: "syne-mono", monospace;
   height: 100%;
   grid-column: 1 / span 2;
   grid-row: 1;
   /* padding: 1em 0 1em 0; */
   /* width: 100%; */
   background:var(--bg-color);

   text-align: right;
   color: var(--bm-color);
 }

 .menu a{
   color:var(--bm-color);
   display: inline-block;
   height: 1em;
   margin-top: .75em;
 }

  .menu a:hover{
    animation: respiration .5s infinite;
  }
  .menu a:last-of-type{
    margin-right: 2vw;
  }

  .menu>span{
    float: left;
    margin-left: 2vw;
    margin-top: .75em;
    /* font-family: "ferroforje";
    font-style: italic; */
  }

  .selected{
    /* font-family: 'ferroforje';
    font-size: 1.5em; */
    letter-spacing: .5em;
  }

  .category{
    display: none;
  }


/* ====================================================================================================================
 * nav
 * ====================================================================================================================*/
.nav-container{
  position: relative;
  grid-column: 1 / span 1;

  font-family: "syne-mono", monospace;

}
.nav{
  padding-left: 2vw;
  margin-bottom: 7em;
}
.project-list{
  display: grid;
  grid-template-columns: 14% 85%;
}
.project-list a{
  font-family: "syne", sans-serif;
  font-style: italic;
  font-size: var(--txt-moymoy);
  margin-top: -.1em;
}
.project-list a:hover{
  color: var(--bm-color);
  text-shadow: -1px -1px 0 var(--bg-color), 1px -1px 0 var(--bg-color), -1px 1px 0 var(--bg-color), 1px 1px 0 var(--bg-color);
}



.project-list *{
  align-self:baseline;
}

.project-list ::selection {
  background: var(--bg-color);
}

.project-list ::-moz-selection {
  background: var(--bg-color);
}
.pj-title{
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  margin-right: 1em;
  margin-left: .2em;
}
.project-tag{
  font-size:  var(--txt-global);
  font-family: 'syne-mono';
  font-style: normal;
  margin-left: .8em;
}

.tags{
  display: none;
}
.tags a{
  margin-top: 0;
}

.tags .pm:last-of-type{
  display: none;
}
.project p:last-of-type{
  margin-bottom: 5em;
}

#scrollbox{
  position: relative;
  height: 100%;
}

li span{
  display: inline-block;
}
li{
  padding: .7vw 0 .7vw 0;
  /* padding: 0.5em 0;
  margin-right: 0.2em; */
}
.nav .project-list .coma:last-of-type{
  display: none;
}

.separator{
  border-left: solid white 1px;
  margin: 0 1em;
}


/* ====================================================================================================================
 * project
 * ====================================================================================================================*/
 .phone-gallery{
   display: none;
 }

.project{
  grid-column: 2 / span 1;
  position: relative;
  overflow: hidden;
  height: 100%;
  padding-right: 0.8em;
}

.project h1{
  font-family: 'syne';
}

.project p{
  margin-right: 4em;
  line-height: 1.3em;
  font-family: 'syne';
  font-size: 1.1em;
}

.project img{
  width: 100%;
  margin-bottom: 1em;
}

#inside{
  position: relative;
  height: 100%;
  word-wrap: break-word;
  white-space: normal;
  overflow-x: hidden;
}

#meta{
  margin-bottom: 2em;
}

/* ====================================================================================================================
 * extra
 * ====================================================================================================================*/
 @keyframes enfer{
   0%{color:var(--bg-color);}
   50%{color:var(--bm-color);}
   100%{color:var(--bg-color);}
 }
@keyframes respiration{
  0%{color:#67d5b5;}
  25%{color:#ee7785;}
  50%{color:#84b1ed;}
  75%{color:#c89ec4;}
  100%{color:#67d5b5;}
}
#extra{
  background: var(--bg-color);
  width:95vw;
  height: 80vh;
  position: absolute;
  top:6.5em;
  font-size:  var(--txt-global);
  font-family: "Syne-mono", monospace;
  line-height: 1.5em;
  display: none;
}
#extra p{
  height: 4.5em;
}
#extra ul{
  font-family: "Syne";
  font-style: italic;
  font-size:  var(--txt-moymoy);
  line-height: .8em;
}

#extra ul a:hover{
  color: var(--bg-color);
  text-shadow: -1px -1px 0 var(--bm-color), 1px -1px 0 var(--bm-color), -1px 1px 0 var(--bm-color), 1px 1px 0 var(--bm-color);
}

.contour{
    color: var(--bm-color);
    text-shadow: -1px -1px 0 var(--bg-color), 1px -1px 0 var(--bg-color), -1px 1px 0 var(--bg-color), 1px 1px 0 var(--bg-color);
}
/* ====================================================================================================================
 * smartphone
 * ====================================================================================================================*/

@media (max-width: 800px){
  .phone{
      display: block;
  }
  .main{
      display: none;
  }
  .big_txt{
    font-size: 7em;
    position: relative;
  }

  .phone-gallery{
    display: block;
    z-index: ;
    position: absolute;
    left:0;
    top:80vh;
  }
  .phone-gallery img{
    position: relative;
    margin-bottom: 40vh;
    max-width: 300px;
  }
  .phoneGalleryFooter{
    display: block;
  }

  .container{
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0px;
  }

  .container:before{
    color: white;
  }

  .grid{
    display: none;
  }

  .menu{
   font-size: 12px;
  }

}
