<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <!-- <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title> -->
    <title>Bonjour ( ) Monde</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/simplebar.css') %}
        {% do assets.addCss('theme://css/2309custom.css') %}

    {% endblock %}
    {{ assets.css()|raw }}

    {% block javascripts %}

        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/jquery-ui.js') %}
        {% do assets.addJs('theme://js/simplebar.js') %}
        {% do assets.addJs('theme://js/2202site.js') %}

    {% endblock %}
    {{ assets.js() }}

{% endblock head %}

</head>
<body id="top" class="">

  {% block content %}{% endblock %}

</body>
</html>
