<div id="scrollbox">
  <ul class = "nav">
    {% for page in pages.children.order('folder','desc') %}
      {% if page.visible and page.slug != "home" %}
          {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
          {% set cat = page.taxonomy.category|join(' ') %}

          <span class="bonjourbox"></span>

          <li class = "project-list {{ current_page }} {{cat}}">


            <span class="dateproj">{{ page.date|date("m·y") }}</span>

            <a class="project-url" href="#{{page.slug}}" data-url = "{{ page.url }}" ><h5 class="pj-title">{{ page.title }}</h5></a>

          </li>
      {% endif %}
     {% endfor %}
  </ul>
  </div>
