<div id="slidecont">
<div id="titrebonjour">Bonjour Book</div>
{# <div id="numimg">1 · 2</div> #}
<div id="ailegauchetemp"></div>
<div id="ailegauche">
</div>


  <div id="infoslide">
    <div id="texteproj">Design graphique,<br>atelier <br>& création d&rsquo;outils. <br><br>bonjour@bonjourmonde.net<br>www.bonjurmonde.net</div>
  </div>





<div id="chap">
</div>
</div>
