{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

{% if taxlist %}
<span class="tags">
    {% for tax,value in taxlist[taxonomy] %}
        {% set active = uri.param(taxonomy) == tax? 'active' : '' %}
        <a class="" data-tag="{{ tax }}">{{ tax }}</a> <span class="pm respi">·</span>
    {% endfor %}
</span>
{% endif %}
