{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="container">
  <div id="verslesenfers">†</div>

  {% include 'partials/slide.html.twig' %}

  <div id="extra">

  <p>
Bonjour Monde est un laboratoire d'expériences visuelles étant à même de répondre à des commandes de design graphique. Nous portons un intérêt particulier à l'idée de nous forger nos propre outils, permettant de nous émanciper des logiciels ayant le monopole de la production graphique, et de créer par la même occasion des langages uniques.<br><br>

Nous menons aussi d'autres aventures telles que <a href="http://www.conjonction.org">conjonction.org</a>, un recueuil de textes en ligne où nous écrivons sur les liens entre magie et design, ou encore <a href="http://www.lamusee.fr">lamusee.fr</a>, une base de donnée iconographique de tableaux de la renaissance. Nous sommes aussi des membres actifs dans l'organisation des <a href="http://www.jdll.org" desc="Nous faisons parti de l'organisation des Journées du Logiciel Libre de Lyon.">journées du Logiciel Libres de Lyon</a>.
<br><br>

Vous pouvez venir nous dire bonjours via nos quatres sites personnels: <br><a href="http://www.armansansd.net">armansansd.net</a>, <a href="http://www.benjamindumond.fr">benjamindumond.fr</a>, <a href="http://www.lucasdescroix.fr">lucasdescroix.fr</a>, <a href="http://www.raoulbonnaffé.fr">raoulbonnaffé.fr</a>.
  </p>

  {# <ul>

  <li></li>
  <li></li>
  <li></li>

  </ul> #}

  </div>
    <p class="big_txt outline elem">Bonjour Monde </p>
    <p class="big_txt plain elem main">est un groupe pour la recherche de procédés alternatifs dans le champ de la création graphique, menant une démarche expérimentale, ouverte et documentée, au travers d’évènements et d’ateliers. </p>
    <p class="big_txt plain elem phone"> Procédés graphique Alternatifs  -  web/print  -  bonjour@bonjourmonde.net</p>
  <div class="phone-gallery">
    {% for page in pages.children %}
      {% if page.visible and page.slug != "home" and page.slug != "maintenance" %}
      {% set base_url = "/" ~ page.slug ~ "/images/"%}
      <img src="{{pages.find(base_url).media.images|first.url}}" alt="">
      {% endif %}
    {% endfor %}
  </div>
  </div>
  <div class="phoneGalleryFooter">

  </div>

<div id="testapi"></div>


  <div class="grid">
  <div class="menu">
  <span class="intro"><a href="">Design graphique</a><span class="respi">,</span> <a href="www.bonjourmonde.net/ateliers">ateliers</a> <span class="respi">&</span> <a href="https://gitlab.com/bonjour-monde">création d'outils</a><span class="respi">.</span></span>
  <span class="tags">{% include 'partials/taxonomylist.html.twig' with {base_url: "/", taxonomy: 'tag'} %}</span>
  <span>
<a href="mailto:bonjour@bonjourmonde.net">mail</a> <span class="respi">/</span>
	<a href="https://gitlab.com/bonjour-monde" target="_blank">gitlab</a> <span class="respi">/</span>
	<a href="https://gitlab.com/bonjour-monde/fonderie">fonderie</a> <span class="respi">/</span>
	<a href="https://twitter.com/_BonjourMonde" target="_blank">twt</a> <span class="respi">/</span>
  <a href="https://www.instagram.com/_bonjourmonde/" target="_blank">insta</a> <span class="respi">/</span>
	<a id="extra-bout" href="#">à propos<span class="respi"></span></a>
  </span>
  </div>
  <div id="popupslide">
    <p>Selectionnez les projets à visualiser puis cliquez sur le format dans lequel les transmuter.</p>
    <span id="boutslide"> Slide </span> <span class="respi">/</span> <span id="boutpdf"> Pdf </span>
  </div>
  <div class="nav-container item" data-simplebar>



    {% include 'partials/navigation.html.twig' %}
  </div>
  <div class="project item" >
    <div id="inside" data-simplebar>
    </div>
  </div>
</div>

{% endblock %}
