{% extends 'partials/base.html.twig' %}
{% block content %}
  <div class="container">
    <p class="big_txt outline elem">Bonjour Monde     </p>
    <p class="big_txt plain elem">procédés alternatifs et création graphique</p>
    <!-- <p class="small_txt">
      Mène une démarche<br>
      expérimentale, ouverte<br>
      et documentée
    </p> -->
    <!-- <p class="big_txt plain elem">recherche </p> -->
    <!-- <p class="small_txt">
      Questionne les habitudes<br>
      et les outils,<br>
      logiciels et matériels
    </p> -->
    <!-- <p class="big_txt plain elem">des procédés alternatifs </p> -->
    <!-- <p class="small_txt">
    Explore, transmet
    <br>et partage au travers<br>
    d'évènements et d'ateliers
    </p> -->
    <!-- <p class="big_txt plain elem">dans le champ de la création graphique.</p> -->

  </div>
<div class="menu">
<span></span>
<a href="mailto:bonjour@bonjourmonde.net">contact</a> | <a href="https://gitlab.com/bonjour-monde" target="_blank">gitlab</a> | <a href="https://twitter.com/_BonjourMonde" target="_blank">@_bonjourmonde</a>
{% endblock %}
