<h1><b>{{ page.title }}</b><br/></h1>
<!-- <p id="meta"> -->
<!-- <a class="mono">{#page.taxonomy.category|join(' ')#}</a><br/>
date : <a class="mono">{#page.taxonomy.date|date("d, Y")#}</a> -->
<!-- </p> -->

{{page.content}}
